.favicon1{

  border-radius: 50%;
  height: 35px;
}

head, body.card{cursor: pointer}.hd{font-size: 25px;font-weight: 550}.card.hover, .card:hover{box-shadow: 0 20px 40px rgba(0, 0, 0, .2)}.img{margin-bottom: 35px;-webkit-filter: drop-shadow(5px 5px 5px #222);filter: drop-shadow(5px 5px 5px #222)}.card-title{font-weight: 600}button.focus, button:focus{outline: 0;box-shadow: none !important}.ft{margin-top: 25px}.chk{margin-bottom: 5px}.rck{margin-top: 20px;padding-bottom: 15px}


.search1{

  margin-left: 5px;
}

.heroimg{

  height: 440px;
  width: 400px;
}

.img1{

  height: 500px;
  width: 100%;
}
.cou{
  width: 100%;
}

#corosel{
margin-bottom: 100px;

}
.testi{
  height: 150px;
  border-radius: 50%;
  width: 150px;
}
.num1{
  /* margin-left: 150px; */
  padding-left: 100px;
}
.Believe{
  margin-bottom: 100px;
}

#titletestimonial{

  text-align: center;
  padding-bottom: 50px;
  padding-right: 100px;
}
